/* Réinitialiser les marges et les rembourrages pour éviter les styles par défaut du navigateur */
body, h1, h2, p {
    margin: 5px;
    padding: 0;
}

/* Appliquer une police de caractères générique à la page */
body {
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 10px;
}

/* Styler le titre principal */
h1 {
    text-align: center;
    margin: 20px 0;
    text-align: left;
}

/* Styler les boutons */
.btnGreen {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(143, 187, 68);
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

.btnGreen::after
{
    content: " →";
}

.btnFav {
    font-size: 30px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.2);
    color: rgb(143, 74, 74);
    text-decoration: none;
    border-radius: 50%; /* Pour obtenir un aspect de bouton rond */
    margin-bottom: 10px;
}

.btnTiktok {
    display: inline-flex;
    padding: 10px 30px;
    background-color: lightgray;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    align-items: center;
}
.btnTiktok img{
    width: 40px;
    height: auto;
    margin-right: 10px;
}
